* {
	box-sizing: border-box;	
}

/** HEADER **/
#header-nav {
	background-color: #dddddd;
	border-radius: 0;
	border-style: solid;
	border: 1;
	border-width: 2px;
	border-color: black;
	min-height: 85px;
	position: relative;
	padding-bottom: 0px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-brand a h1{
	font-size: 2em;
	margin-top: 5px;
	color: black;
}


#nav-list {
	margin-top: 0px;
	background-color: #eeeeee;
	margin-bottom: 0px;
}

#nav-list a {
	text-align: center;
	color: black;
	border-bottom: solid black;
	border-width: 1px;
}

#nav-list li:nth-child(1) {
	border-top: solid black;
	border-width: 1px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

#collapsable-nav {
	font-color: black;
	margin-top: 15px;
}

.row {
	margin: auto;
}

.main-content {
	background-color: #dddddd;
	margin-top: 25px;

}

.main-content p {
	padding: 25px;
}

.main-content h1 {
	font-size: 1.8em;
	margin-bottom: 0px;
}

